<!DOCTYPE html>
<html lang="bn" prefix="og: https://ogp.me/ns#">

<!--suppress HtmlRequiredTitleElement -->
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Title, OG and Twitter meta tags -->
  {% block meta %}{% endblock %}

  <!-- CSS -->
  <link rel="stylesheet" href="css/bootstrap-5-customized.min.css">
  <link rel="stylesheet" href="css/bootstrap-5-plus-plus.min.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&display=swap" rel="stylesheet">
  <!--<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">-->

  <!-- Favicon -->
  <link rel="icon" href="favicon.ico"/>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ismat Jahan Anee</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#about-me">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Spinner -->
  <div id="ms" class="center-of-page"> <!-- ID `ms` is an abbreviation for `main-spinner` -->
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"><span class="visually-hidden">Loading...</span></div>
  </div>

  <!-- Main block -->
  <div id="md" class="d-none mb-4"> <!-- ID `md` an abbreviation for `main-div` -->
    {% block content %}{% endblock %}
  </div>

  <!-- JS -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/bootstrap-5-plus-plus.min.js"></script>
</body>

</html>
